---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">This page may not always be up to date — you can find my latest publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2> Book </h2>

{% for post in site.publications reversed %}
  {% if post.published == 'book' %}
    {% include archive-book.html %}
  {% endif %}
{% endfor %}

<h2> Preprints </h2>
{% for post in site.publications reversed %}
  {% if post.published == 'preprint' %}
    {% include archive-preprint.html %}
  {% endif %}
{% endfor %}

<h2> Journal Articles </h2>
{% for post in site.publications reversed %}
  {% if post.published == 'journal' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2> Conference Articles </h2>

{% for post in site.publications reversed %}
  {% if post.published == 'conference' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


